body {
    background-color: #453c5c;
}

.block {
    background-color: #00000044;
    width: 8vw;
    height: 8vw;

    cursor: pointer;
    transition: 200ms;
}

.block:hover {
    background-color: #00000088;
    transition: 200ms;
}

.block+.block {
    margin-left: 4px;
}

.row + .row {
    margin-top: 4px;
}

.row {
    justify-content: center;
}

/* border-radius of blocks */
.row:first-of-type .block:first-of-type {
    border-radius: 8px 0 0 0;
}
.row:first-of-type .block:last-of-type {
    border-radius: 0 8px 0 0;
}
#lastrow .block:first-of-type {
    border-radius: 0 0 0 8px;
}
#lastrow .block:last-of-type {
    border-radius: 0 0 8px 0;
}

#config {
    height: 100%;
    background-color: #00000044;
    margin-right: 24px;
    padding: 24px;
    border-radius: 8px 8px 8px 8px;
}

@media only screen and (max-width: 600px) {
    .block {
        width: 16vw;
        height: 16vw;
    }
}