body {
    background-color: #453c5c;
}

.block {
    background-color: #00000044;
    width: 8vw;
    height: 8vw;
    
    cursor: pointer;
    transition: 200ms;
}

.block:hover {
    background-color: #00000088;
    transition: 200ms;
}

.block + .block {
    margin-left: 4px;
}

.row {
    margin-top: 4px;
}


@media only screen and (max-width: 600px) {
    .block {
        width: 16vw;
        height: 16vw;
    }
}
